openapi: 3.0.0
info:
  title: Chat API
  description: Chat REST API.
  version: 15.5.5
servers:
  - url: 'https://api.ultimate.ai'
paths:
  /converse/chat:
    post:
      summary: Chat API
      description: External customers can use this endpoint to converse with a chat automation virtual agent
      tags:
        - Chat Automation
      parameters:
        - in: header
          name: Authorization
          required: true
        - in: header
          name: botid
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                platformConversationId:
                  type: string
                  required: true
                  description: Platform conversation id used by the CRM
                eventType:
                  type: string
                  required: true
                  enum: [ 'message', 'startSession', 'endSession' ]
                text:
                  type: string
                  required: false
                  description: Text of the message or of the button
                metaData:
                  type: object
                  required: false
                  properties:
                    key:
                      type: string
                    value:
                      type: string
                    sanitize:
                      type: boolean
                cardIndex:
                  required: false
                  type: number

      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Bot Not Found
  /converse/ticket:
    post:
      summary: Ticket API
      description: External customers can use this endpoint to converse with a ticket automation virtual agent
      tags:
        - Ticket Automation
      parameters:
        - in: header
          name: Authorization
          required: true
        - in: header
          name: botid
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                platformConversationId:
                  type: string
                  description: Platform conversation id used by the CRM
                text:
                  type: string
                  description: Content of email
                platform:
                  type: string
                  description: Name of the used platform
                metadata:
                  type: array
                  description: Variables to store in session
                  items:
                    type: object
                    properties:
                      key:
                        type: string
                        description: Variable key/name
                      value:
                        type: string
                        description: Variable value
                      sanitize:
                        type: boolean
                        description: Variable sanitize flag
      responses:
        '200':
          description: OK
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '404':
          description: Not Found
        '500':
          description: Internal Server Error
